body{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#UN{
    background-color: blue;
}

#DEUX{
    background-color: green;
}

#TROIS{
    background-color: red;
    border: solid;
    border-color: black;
    border-width: 3px;
}

#QUATRE{
    background-color: yellow;
}