body{
    background-color: lightgray;
}

ul{
    background-color: bisque;
}

img {
    float: right;   
}

table{
    background-color: orange;
    border: 2px ;
    width: 100%;
    align-self: center;
}
caption{
    background-color: orange;
    align-self: center;
}

p:nth-of-type(5){
    background-color: yellow;
    color: blue;
    align-self: right;
}
ul li a{
    color: green;
}